* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.hero-play {
    width: 100%;
    bottom: 11em;
}

.menu {
    background: transparent;
    z-index: 100;
    width: 100%;
    height: 16%;
    position: fixed;
}

#login {
    border: 1px #fff solid;
    border-radius: 12px;
    padding: 10px 26px;
}

#sign {
    border: 1px #FF00BF solid;
    border-radius: 12px;
    padding: 10px 26px;
    position: relative;
    left: 163px;
    transition: left .5s;
}

.item {
    text-decoration: none;
    margin: 0 2.5%;
    color: #fff;
    font-size: 21px;
    line-height: 41px;
    letter-spacing: 1px;
}

.item:hover {
    color: #FF00BF !important;
}

.logo-menu, .item-menu {
    display: inline-block;
    position: relative;
}

.item-menu {
    left: 53%;
    top: 20%;
    width: 43%;
}

.logo-menu {
    left: 5%;
    top: 30%;
}

.logo {
    width: 64px;
}

.detail-hero {
    width: 42.5%;
    z-index: 1;
    background: #fff;
    position: absolute;
    right: 0;
    top: 17%;
    padding: 67px 71px;
}

.hidden {
    display: none;
}


/***************seccion informacion ******************/

.info {
    background-image: linear-gradient(#681b81, #2c1e66);
    color: #fff;
    box-shadow: 0 0 100px 50px #681b81;
    position: relative;
    bottom: 2em;
    height: 80vh;
}

.info-text, .info-img {
    position: absolute;
    display: inline-block;
    width: 50%;
}

.info-text {
    padding-left: 11.5%;
}

.info-img {
    left: 50%;
}

.img-info {
    width: 70%;
}


/************multimedia*************/

.ride, .june, .thing {
    height: 72.5vh;
    position: relative;
    background: #fff;
    z-index: 29;
    bottom: 5vh;
}

iframe {
    width: 100%;
    height: 100%;
}

.text-mtd, .video-mtd {
    position: absolute;
    height: 100%;
    display: inline-block;
    height: 100%;
}

.text-mtd {
    width: 33.5%;
    padding: 10% 5%;
}

.video-mtd {
    width: 66.5%;
}

.left-text {
    left: 33.5%;
}

.left-video {
    left: 66.5%;
}

.first-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5px;
}

.text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #333447;
}

.color-white {
    color: #fff;
}

.color-gray {
    color: #728099;
}

.color-pink {
    color: #FF00BF;
}
.padd-top {
    padding-top: 24px;
}
.padd-bt {
    padding-bottom: 10%;
}

.title-info {
    font-size: 32px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 4%;
    line-height: 31px;
}

.title-text {
    font-size: 32px;
    font-weight: bold;
    color: #333447;
    padding-bottom: 7%;
    line-height: 31px;
}

.title-form {
    color: #352384;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
}

.subtitle-form {
    color: #352384;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 3px;
}

.input-form {
    border: none;
    border-bottom: 1px solid #352384;
    width: 100%;
    outline: 0;
    height: 61px;
    font-size: 24px;
}

.input-form::placeholder {
    color: #728099;
    font-size: 19px;
}

.btn-form {
    background-color: #ff00bf;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 8px;
    margin: 31px 15px 10px 0;
    padding: 15px 20px;
    cursor: pointer;
    outline: none;
}
.inline{
  display: inline-block;
}

.xs {
    width: 49%;
}

.litle-text {
    font-size: 10px;
    line-height: 25px;
}

.pie-pagina {
    background: #333447;
    position: relative;
    width: 100%;
    height: 85vh;
}

.img-footer {
    width: 159px;
    position: relative;
    height: 57px;
    left: 246px;
}

.item-pie-1, .item-pie-2, .item-pie-3, .item-pie-4 {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 60vh;
    padding: 44px 87px;
}

.item-pie-2 {
    left: 20%;
}

.item-pie-3 {
    left: 40%;
}

.item-pie-4 {
    left: 60%;
}

footer li {
    list-style: none;
    padding: 8px 2px;
}

.icon-redes {
    position: relative;
    top: 82%;
    width: 45%;
    left: 27.5%;
    border-bottom: 2px solid #fff;
}

.text-pie {
    text-align: center;
    position: relative;
    top: 46px;
}

.icon-facebook, .icon-instagram, .icon-twitter {
    border: 2px solid #fff;
    padding: 9px;
    position: relative;
    top: -38px;
    margin: 0 20px;
    left: 31%;
    border-radius: 20px;
}
